*{
    font-family: "Sofia Sans Condensed", sans-serif;


}
.cursive{
    font-family: "Mogra", system-ui !important; 
    
}
.phrase{
    width: 40% !important;
    margin-left: 2rem;
}
.phrase button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.links{
    margin-left: 8rem !important;
}
.homecarrousel{
    margin-top: 3rem !important;
    margin-bottom: 5rem !important;
}
.navlinks{
    width:80% !important
}
.mainimg{
    width: 100vw;
    height: 80vh;
    background-image: url("./images/01Home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}
.palm{
    height:2rem;
    margin-right: 1rem;
}
.titlepage{
    font-family: "Love Ya Like A Sister" !important;
    font-weight: 400;
}