.links{
    margin-left: 8rem !important;
}
.navlinks{
    width:80% !important
}
.mainimg{
    width: 100vw;
    height: 80vh;
    background-image:radial-gradient( #00000000,#00000000 ,  #000000bd) /* linear-gradient( #000000c0, #ffffff00) */ , url("./images/01Home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}
.nav-fixed {
    position: fixed;
    width: 100%;
    height: 20vh;
    z-index: 1;

}